{% extends 'base.html' %}

{% block title %}Publicar en el Marketplace{% endblock %}

{% block content %}
    <div class="form-container">
        <h1>Publicar Cultivo: {{ crop.nombre_producto }}</h1>
        <p>Estás creando una publicación para tu cultivo de <strong>{{ crop.cantidad_estimada }} {{ crop.unidad_medida }}</strong> de {{ crop.nombre_producto }}.</p>
        <p>Por favor, define el precio y la cantidad que deseas poner a la venta.</p>

        <form method="post" class="styled-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Publicar en el Marketplace</button>
        </form>
    </div>
{% endblock %}
